{% extends "database/base.html" %}
{% block content %}
	<p>
		Rheumatoid arthritis (RA) is an autoimmune disease that most commonly affects the joints of the hands, feet, wrists, elbows, knees and ankles. Because RA also can affect organs and body systems, such as the cardiovascular or respiratory systems, it is called a systemic disease. 
		
		The symptoms of the disease may come and go, and people with RA, who closely follow an effective treatment plan, can experience periods of remission (low to no disease activity).  However, there is no cure for RA, so the disease requires ongoing monitoring and treatment as you engage in healthy lifestyle habits.
	</p>
{% endblock content %}